.root {
    display: inline-block;
    width: 100%;
    text-align: center;
}

@media (min-width: 1024px) {

    .root {
        width: calc(100% - 300px);
        margin-left: 300px;
    }

    .horizontal-flex {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }

}