
<app-section>
        <div class="horizontal-flex">
            <div class="p-info">
                <span class="label">Name</span>
                <div class="info">{{name}}</div>
            </div>
            <div class="p-info">
                <span class="label">Birthday</span>
                <div class="info">{{birthday}}</div>
            </div>
            <div class="p-info">
                <span class="label">Occupation</span>
                <div class="info">{{occupation}}</div>
            </div>
        </div>
</app-section>