.nav__menu {
    margin: -2px;
    position: fixed;
    display: inline-block;
    height: 100%;
    background-color: rgb(51, 51, 51);
    width: 300px;
    display: normal;
}

.nav__img {
    width: 300px;
}

@media (max-width: 1024px) {
    .nav__menu {
        display: none;
    }
}