
.nav-menu {
    margin: -2px;
    position: fixed;
    display: inline-block;
    height: 100%;
    background-color: rgb(51, 51, 51);
    width: 300px;
    display: normal;
}
.nav {
    width: 300px;
}
@media (max-width: 1024px) {
    .nav-menu {
        display: none;
    }
}